<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:jdbc="http://www.springframework.org/schema/jdbc"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/jdbc
http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd">

	<context:property-placeholder location="jdbc.properties"/>
	
 	<!-- <bean class="com.dev.blogs.DataSource">
 		<property name="url">
 			<value>${jdbc.url}</value>
 		</property>
 		<property name="login">
 			<value>${jdbc.login}</value>
 		</property>
 		<property name="password">
 			<value>${jdbc.password}</value>
 		</property> 		
 	</bean> -->
 	
 	<jdbc:embedded-database id="dataSource" type="H2">
        <jdbc:script location="classpath:create-data-model.sql" />
        <jdbc:script location="classpath:fill-database.sql" />
    </jdbc:embedded-database>
 	
 	<context:component-scan base-package="com.dev.blogs"/>
</beans>